<li class="control-group nested-fields">
	<div class="controls">
		<label> Porcentagem:</label>
		<%= f.text_field :percentage %>

		
		<label> Recebedor:</label>
		<%= collection_select(:recipient, :recipient_id, Recipient.all, :id, :legal_name, prompt: true) %>
		
	</div>
	<hr>
</li>